<p *ngIf="deviceXs">registration works!</p>

<mat-toolbar>

<mat-toolbar-row fxLayoutAlign="space-between center">

<div>
<button mat-button>
<mat-icon>home</mat-icon>
<span>Ghibila Giffy App</span>
</button>
<button mat-button>Home</button>
<button mat-button>Contact Us</button>
<button mat-button>About us</button>
</div>


<div>
<button mat-icon-button>
<mat-icon *ngIf="deviceXs">more_vert</mat-icon>
<span *ngIf="!deviceXs">Menu</span>
</button>
</div>
</mat-toolbar-row>

<mat-toolbar-row *ngIf="deviceXs">
  <span>Second Row</span>
</mat-toolbar-row>

</mat-toolbar>

