<div fxLayoutAlign="center center" fxFlexFill class="login-card">
	<mat-card fxFlex="25">
		<mat-toolbar color="primary">Login</mat-toolbar>
		<form fxLayout="column" fxLayoutAlign="stretch">
  			<mat-form-field >
    		<input matInput placeholder="User Name" value="">
  			</mat-form-field>
  			<mat-form-field >
    		<input matInput type="password" placeholder="PassWord">
			  </mat-form-field>
			  <button color="primary" mat-raised-button type="Submit">Login</button>
		</form>

	</mat-card>

</div>


